body {
    margin: 0;
    background-color: #000000;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #score-container {
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);

  }
  
  #score-value {
    font-weight: bold;
    color: #fe7d05;
  }
  
  #restart-button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: #fe3705;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #restart-button:hover {
    background-color: rgb(247, 246, 246);
    color: white;
  }
  